In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import tensorflow as tf
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_excel('/content/drive/MyDrive/data for raml/Euler_type/raml_train_fea.xlsx')
data

,magnitude_1,magnitude_2,magnitude_3,magnitude_4,magnitude_5,magnitude_6,magnitude_7,magnitude_8,magnitude_9,phase_1,phase_2,phase_3,phase_4,phase_5,phase_6,phase_7,phase_8,phase_9
0,1.008509,0.970244,1.024461,1.020377,0.946489,1.138328,0.988603,0.928332,0.950598,-0.036172,0.049880,-0.013346,-0.010615,0.022613,-0.035708,0.019917,0.012278,0.0
1,1.013062,0.973301,1.026339,1.016674,0.948171,1.135541,0.982460,0.930408,0.937685,-0.038669,0.048166,-0.009197,-0.006857,0.026136,-0.035275,0.016688,0.007776,0.0
2,1.007639,0.970308,1.026577,1.011532,0.947387,1.137760,0.984271,0.939533,0.914930,-0.036675,0.051170,-0.008393,-0.011100,0.023999,-0.033495,0.014562,0.008318,0.0
3,1.010886,0.971849,1.027230,1.019173,0.948334,1.138058,0.982214,0.928265,0.863446,-0.035380,0.051640,-0.009789,-0.008607,0.024976,-0.040368,0.017178,0.009958,0.0
4,1.012456,0.971701,1.029814,1.022003,0.949451,1.138646,0.972981,0.930444,0.905443,-0.038424,0.049143,-0.010658,-0.007497,0.025617,-0.035031,0.016446,0.009620,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34170,1.059089,0.978241,1.075331,0.991154,0.959824,1.105883,0.884247,0.959739,0.764986,-0.026402,0.050255,-0.004623,0.005895,0.011371,-0.033685,0.021459,-0.016916,0.0
34171,1.064733,0.983616,1.084018,0.994713,0.971890,1.101676,0.868740,0.940654,0.965443,-0.036782,0.043170,-0.005331,0.003847,0.013237,-0.033825,0.024381,0.000813,0.0
34172,1.055633,0.975945,1.078061,0.997611,0.967306,1.114665,0.890453,0.935226,0.952207,-0.034823,0.048939,-0.008356,0.006063,0.007469,-0.035657,0.027409,-0.000953,0.0
34173,1.060772,0.983102,1.065535,0.999005,0.967453,1.106221,0.883779,0.946073,0.928207,-0.040776,0.047851,-0.005924,-0.006855,0.004257,-0.028924,0.033973,0.007002,0.0
34174,1.054992,0.981411,1.069307,0.994546,0.953826,1.111094,0.883277,0.959947,0.907153,-0.033448,0.045552,-0.005027,0.006961,0.014804,-0.034400,0.024766,-0.010605,0.0

In [4]:
X_train = data.iloc[:, :-1]
X_train = X_train.astype(float)
X_train

,magnitude_1,magnitude_2,magnitude_3,magnitude_4,magnitude_5,magnitude_6,magnitude_7,magnitude_8,magnitude_9,phase_1,phase_2,phase_3,phase_4,phase_5,phase_6,phase_7,phase_8
0,1.008509,0.970244,1.024461,1.020377,0.946489,1.138328,0.988603,0.928332,0.950598,-0.036172,0.049880,-0.013346,-0.010615,0.022613,-0.035708,0.019917,0.012278
1,1.013062,0.973301,1.026339,1.016674,0.948171,1.135541,0.982460,0.930408,0.937685,-0.038669,0.048166,-0.009197,-0.006857,0.026136,-0.035275,0.016688,0.007776
2,1.007639,0.970308,1.026577,1.011532,0.947387,1.137760,0.984271,0.939533,0.914930,-0.036675,0.051170,-0.008393,-0.011100,0.023999,-0.033495,0.014562,0.008318
3,1.010886,0.971849,1.027230,1.019173,0.948334,1.138058,0.982214,0.928265,0.863446,-0.035380,0.051640,-0.009789,-0.008607,0.024976,-0.040368,0.017178,0.009958
4,1.012456,0.971701,1.029814,1.022003,0.949451,1.138646,0.972981,0.930444,0.905443,-0.038424,0.049143,-0.010658,-0.007497,0.025617,-0.035031,0.016446,0.009620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34170,1.059089,0.978241,1.075331,0.991154,0.959824,1.105883,0.884247,0.959739,0.764986,-0.026402,0.050255,-0.004623,0.005895,0.011371,-0.033685,0.021459,-0.016916
34171,1.064733,0.983616,1.084018,0.994713,0.971890,1.101676,0.868740,0.940654,0.965443,-0.036782,0.043170,-0.005331,0.003847,0.013237,-0.033825,0.024381,0.000813
34172,1.055633,0.975945,1.078061,0.997611,0.967306,1.114665,0.890453,0.935226,0.952207,-0.034823,0.048939,-0.008356,0.006063,0.007469,-0.035657,0.027409,-0.000953
34173,1.060772,0.983102,1.065535,0.999005,0.967453,1.106221,0.883779,0.946073,0.928207,-0.040776,0.047851,-0.005924,-0.006855,0.004257,-0.028924,0.033973,0.007002
34174,1.054992,0.981411,1.069307,0.994546,0.953826,1.111094,0.883277,0.959947,0.907153,-0.033448,0.045552,-0.005027,0.006961,0.014804,-0.034400,0.024766,-0.010605

In [5]:
#from sklearn.preprocessing import MinMaxScaler

# Create an instance of the MinMaxScaler
#scaler = MinMaxScaler()

# Fit the scaler on the training data and transform it
#X_train_normalized = scaler.fit_transform(X_train)

In [5]:
y_train = pd.read_excel('/content/drive/MyDrive/data for raml/Euler_type/raml_train_label.xlsx')
y_train

       label_cell_train
0                  3.26
1                  3.26
2                  3.26
3                  3.26
4                  3.26
...                 ...
34170             24.92
34171             24.92
34172             24.92
34173             24.92
34174             24.92

[34175 rows x 1 columns]

In [6]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Print the shapes of the datasets
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_val shape:", X_val.shape)
print("y_val shape:", y_val.shape)

X_train shape: (27340, 17)
y_train shape: (27340, 1)
X_val shape: (6835, 17)
y_val shape: (6835, 1)

In [7]:
data1 = pd.read_excel('/content/drive/MyDrive/data for raml/Euler_type/raml_val_fea.xlsx')
data1

,magnitude_1,magnitude_2,magnitude_3,magnitude_4,magnitude_5,magnitude_6,magnitude_7,magnitude_8,magnitude_9,phase_1,phase_2,phase_3,phase_4,phase_5,phase_6,phase_7,phase_8,phase_9
0,1.015711,0.972724,1.028721,1.021344,0.945010,1.132538,0.981477,0.926540,0.926972,-0.038618,0.049046,-0.005671,-0.005493,0.024757,-0.035255,0.011245,0.008881,0.0
1,1.008684,0.968104,1.028012,1.016519,0.949418,1.140471,0.982124,0.932997,0.883169,-0.036385,0.052934,-0.009384,-0.004736,0.022438,-0.039660,0.014923,0.009374,0.0
2,1.012132,0.975232,1.027009,1.022481,0.948479,1.134543,0.983083,0.918016,0.943540,-0.035349,0.050305,-0.009921,-0.007144,0.026459,-0.036961,0.015664,0.005690,0.0
3,1.005341,0.967665,1.024568,1.019163,0.947153,1.140464,0.985066,0.933111,0.857898,-0.037964,0.049403,-0.010739,-0.004426,0.029118,-0.037414,0.014493,0.006961,0.0
4,1.011962,0.971318,1.030586,1.014300,0.945664,1.142951,0.971310,0.934719,0.929501,-0.035031,0.051686,-0.009176,-0.008012,0.021137,-0.033681,0.015091,0.006667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,1.063702,0.984116,1.072274,0.989359,0.972247,1.109374,0.869495,0.945937,0.911502,-0.034411,0.055407,-0.008975,0.005447,0.009107,-0.035375,0.031645,-0.013180,0.0
8542,1.055655,0.977211,1.078133,0.993640,0.963980,1.109888,0.880837,0.952004,0.939371,-0.036616,0.058610,-0.009876,0.005846,0.006365,-0.023722,0.022462,-0.015889,0.0
8543,1.059784,0.986307,1.071502,0.998039,0.966636,1.110709,0.876539,0.941853,0.957028,-0.028015,0.052214,0.000321,0.004490,0.005825,-0.037493,0.022187,-0.012223,0.0
8544,1.064717,0.983890,1.076114,0.994657,0.964178,1.106658,0.871758,0.945698,0.941485,-0.030367,0.049230,-0.005167,-0.000035,0.002072,-0.027844,0.027546,-0.007284,0.0
8545,1.052407,0.976029,1.078558,0.995073,0.959871,1.118088,0.886575,0.950422,0.953459,-0.038180,0.058421,0.002124,0.007475,0.007649,-0.038095,0.022299,-0.013301,0.0

In [8]:
X_test = data1.iloc[:, :-1]
X_test = X_test.astype(float)

X_test

,magnitude_1,magnitude_2,magnitude_3,magnitude_4,magnitude_5,magnitude_6,magnitude_7,magnitude_8,magnitude_9,phase_1,phase_2,phase_3,phase_4,phase_5,phase_6,phase_7,phase_8
0,1.015711,0.972724,1.028721,1.021344,0.945010,1.132538,0.981477,0.926540,0.926972,-0.038618,0.049046,-0.005671,-0.005493,0.024757,-0.035255,0.011245,0.008881
1,1.008684,0.968104,1.028012,1.016519,0.949418,1.140471,0.982124,0.932997,0.883169,-0.036385,0.052934,-0.009384,-0.004736,0.022438,-0.039660,0.014923,0.009374
2,1.012132,0.975232,1.027009,1.022481,0.948479,1.134543,0.983083,0.918016,0.943540,-0.035349,0.050305,-0.009921,-0.007144,0.026459,-0.036961,0.015664,0.005690
3,1.005341,0.967665,1.024568,1.019163,0.947153,1.140464,0.985066,0.933111,0.857898,-0.037964,0.049403,-0.010739,-0.004426,0.029118,-0.037414,0.014493,0.006961
4,1.011962,0.971318,1.030586,1.014300,0.945664,1.142951,0.971310,0.934719,0.929501,-0.035031,0.051686,-0.009176,-0.008012,0.021137,-0.033681,0.015091,0.006667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,1.063702,0.984116,1.072274,0.989359,0.972247,1.109374,0.869495,0.945937,0.911502,-0.034411,0.055407,-0.008975,0.005447,0.009107,-0.035375,0.031645,-0.013180
8542,1.055655,0.977211,1.078133,0.993640,0.963980,1.109888,0.880837,0.952004,0.939371,-0.036616,0.058610,-0.009876,0.005846,0.006365,-0.023722,0.022462,-0.015889
8543,1.059784,0.986307,1.071502,0.998039,0.966636,1.110709,0.876539,0.941853,0.957028,-0.028015,0.052214,0.000321,0.004490,0.005825,-0.037493,0.022187,-0.012223
8544,1.064717,0.983890,1.076114,0.994657,0.964178,1.106658,0.871758,0.945698,0.941485,-0.030367,0.049230,-0.005167,-0.000035,0.002072,-0.027844,0.027546,-0.007284
8545,1.052407,0.976029,1.078558,0.995073,0.959871,1.118088,0.886575,0.950422,0.953459,-0.038180,0.058421,0.002124,0.007475,0.007649,-0.038095,0.022299,-0.013301

In [10]:
#X_test_normalized = scaler.transform(X_test)

In [9]:
y_test = pd.read_excel('/content/drive/MyDrive/data for raml/Euler_type/raml_val_label.xlsx')
y_test

      label_cell_val
0               3.26
1               3.26
2               3.26
3               3.26
4               3.26
...              ...
8541           24.92
8542           24.92
8543           24.92
8544           24.92
8545           24.92

[8546 rows x 1 columns]

In [10]:
X_train.shape

(27340, 17)

In [11]:
y_train.shape

(27340, 1)

In [12]:
X_test.shape

(8546, 17)

In [13]:
y_test.shape

(8546, 1)

In [123]:
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv1D, MaxPooling1D, Concatenate, Flatten, Dense

def inception_net_regression(input_shape):       ## Inception-like model

    inputs = Input(input_shape)

    # Convolutional block 1
    conv1_1 = Conv1D(8, 1, activation='relu', padding='same')(inputs)
    conv1_2 = Conv1D(16, 1, activation='relu', padding='same')(inputs)
    conv1_3 = Conv1D(32, 1, activation='relu', padding='same')(inputs)
    concat1 = Concatenate(axis=-1)([conv1_1, conv1_2, conv1_3])
    #pool1 = MaxPooling1D(pool_size=2)(concat1)

    # Convolutional block 2
    conv2_1 = Conv1D(64, 1, activation='relu', padding='same')(concat1)
    conv2_2 = Conv1D(128, 3, activation='relu', padding='same')(concat1)
    conv2_3 = Conv1D(256, 5, activation='relu', padding='same')(concat1)
    concat2 = Concatenate(axis=-1)([conv2_1, conv2_2, conv2_3])
    #pool2 = MaxPooling1D(pool_size=2)(concat2)

    # Convolutional block 3
    conv3_1 = Conv1D(64, 1, activation='relu', padding='same')(concat2)
    conv3_2 = Conv1D(128, 1, activation='relu', padding='same')(conv3_1)
    conv3_3 = Conv1D(256, 1, activation='relu', padding='same')(conv3_2)
    #concat3 = Concatenate(axis=-1)([conv3_1, conv3_2, conv3_3])
    # #pool3 = MaxPooling1D(pool_size=2)(concat3)

    # Flatten
    flatten = Flatten()(conv3_3)

    # Dense layers
    dense1 = Dense(256, activation='relu')(flatten)
    dense2 = Dense(128, activation='relu')(dense1)

    # Output layer
    output = Dense(1, activation='linear')(dense2)

    # Create model
    model = Model(inputs=inputs, outputs=output)

    return model

In [ ]:
# y_pred = model.predict(X_test)
# result = np.column_stack((y_pred, y_test))
# print("y_pred\t\t y_test")
# print(result)

In [ ]:
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, BatchNormalization
# from tensorflow.keras.optimizers import Adam
# from sklearn.metrics import mean_squared_error

# # Define the input shape (17 features)
# input_shape = (17,)

# # Create a sequential model
# model_base = Sequential()
# model_base.add(Dense(64, activation='relu', input_shape=input_shape))
# model_base.add(Dense(128, activation='relu'))
# model_base.add(Dense(256, activation='relu'))
# model_base.add(Dense(1))  # Output layer

# # Compile the model
# model_base.compile(optimizer=Adam(), loss='mean_squared_error')

# # Train the model
# history = model_base.fit(X_train, y_train, batch_size=32, epochs=15, validation_data=(X_val, y_val))

# # Evaluate the model on test data
# loss = model_base.evaluate(X_test, y_test)
# print("Test loss:", loss)

In [ ]:
# y_pred = model_base.predict(X_test)
# result = np.column_stack((y_pred, y_test))
# print("y_pred\t\t y_test")
# print(result)

In [124]:
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv1D, MaxPooling1D, Concatenate, Flatten, Dense

def inception_net_classification(input_shape):       ## Inception-like model

    inputs = Input(input_shape)

    # Convolutional block 1
    conv1_1 = Conv1D(8, 1, activation='relu', padding='same')(inputs)
    conv1_2 = Conv1D(16, 1, activation='relu', padding='same')(inputs)
    conv1_3 = Conv1D(32, 1, activation='relu', padding='same')(inputs)
    concat1 = Concatenate(axis=-1)([conv1_1, conv1_2, conv1_3])
    #pool1 = MaxPooling1D(pool_size=2)(concat1)

    # Convolutional block 2
    conv2_1 = Conv1D(64, 1, activation='relu', padding='same')(concat1)
    conv2_2 = Conv1D(128, 3, activation='relu', padding='same')(concat1)
    conv2_3 = Conv1D(256, 5, activation='relu', padding='same')(concat1)
    concat2 = Concatenate(axis=-1)([conv2_1, conv2_2, conv2_3])
    #pool2 = MaxPooling1D(pool_size=2)(concat2)

    # Convolutional block 3
    conv3_1 = Conv1D(64, 1, activation='relu', padding='same')(concat2)
    conv3_2 = Conv1D(128, 1, activation='relu', padding='same')(conv3_1)
    conv3_3 = Conv1D(256, 1, activation='relu', padding='same')(conv3_2)
    #concat3 = Concatenate(axis=-1)([conv3_1, conv3_2, conv3_3])
    # #pool3 = MaxPooling1D(pool_size=2)(concat3)

    # Flatten
    flatten = Flatten()(conv3_3)

    # Dense layers
    dense1 = Dense(256, activation='relu')(flatten)
    dense2 = Dense(128, activation='relu')(dense1)

    # Output layer
    output = Dense(14, activation='softmax')(dense2)

    # Create model
    model = Model(inputs=inputs, outputs=output)

    return model

In [125]:
classification_model = inception_net_classification(input_shape = (17, 1))
classification_weights_path = '/content/drive/MyDrive/data for raml/Euler_type/models/classification_model (1).h5'  # Specify the path to the weights file
classification_model.load_weights(classification_weights_path)

In [ ]:
classification_model.summary()

In [127]:
from tensorflow.keras.optimizers import Adam
regression_model = inception_net_regression(input_shape=(17, 1))

learning_rate = 0.001
optimizer = Adam(learning_rate=learning_rate)
#regression_model.compile(loss='mean_absolute_error', optimizer= optimizer)

In [ ]:
regression_model.summary()

In [129]:
classification_weights = classification_model.get_weights()[:-3]

regression_weights = regression_model.get_weights()

regression_weights[:len(classification_weights)] = classification_weights
regression_model.set_weights(regression_weights)

In [130]:
regression_model.compile(loss='mean_absolute_error', optimizer= optimizer)

In [131]:
regression_model.fit(X_train, y_train, epochs=25, batch_size=32, validation_data=(X_val, y_val))

Epoch 1/25
855/855 [==============================] - 40s 44ms/step - loss: 2.5187 - val_loss: 1.3063
Epoch 2/25
855/855 [==============================] - 37s 43ms/step - loss: 1.4336 - val_loss: 1.3194
Epoch 3/25
855/855 [==============================] - 35s 41ms/step - loss: 1.2964 - val_loss: 1.1818
Epoch 4/25
855/855 [==============================] - 38s 44ms/step - loss: 1.1622 - val_loss: 1.1762
Epoch 5/25
855/855 [==============================] - 37s 43ms/step - loss: 1.1194 - val_loss: 1.1387
Epoch 6/25
855/855 [==============================] - 39s 45ms/step - loss: 1.0936 - val_loss: 1.0034
Epoch 7/25
855/855 [==============================] - 37s 43ms/step - loss: 1.1003 - val_loss: 1.0089
Epoch 8/25
855/855 [==============================] - 39s 45ms/step - loss: 1.0946 - val_loss: 1.0237
Epoch 9/25
855/855 [==============================] - 35s 41ms/step - loss: 1.0715 - val_loss: 1.0001
Epoch 10/25
855/855 [==============================] - 36s 42ms/step - loss: 1.0469 - val_loss: 1.0149
Epoch 11/25
855/855 [==============================] - 36s 42ms/step - loss: 1.0347 - val_loss: 0.9764
Epoch 12/25
855/855 [==============================] - 35s 41ms/step - loss: 1.0175 - val_loss: 1.0457
Epoch 13/25
855/855 [==============================] - 36s 42ms/step - loss: 1.0131 - val_loss: 1.0686
Epoch 14/25
855/855 [==============================] - 34s 40ms/step - loss: 1.0146 - val_loss: 0.9945
Epoch 15/25
855/855 [==============================] - 35s 41ms/step - loss: 0.9849 - val_loss: 0.9263
Epoch 16/25
855/855 [==============================] - 36s 42ms/step - loss: 0.9831 - val_loss: 0.9887
Epoch 17/25
855/855 [==============================] - 37s 43ms/step - loss: 0.9804 - val_loss: 0.9967
Epoch 18/25
855/855 [==============================] - 36s 42ms/step - loss: 0.9780 - val_loss: 0.9491
Epoch 19/25
855/855 [==============================] - 36s 42ms/step - loss: 0.9691 - val_loss: 0.9481
Epoch 20/25
855/855 [==============================] - 36s 42ms/step - loss: 0.9723 - val_loss: 0.9463
Epoch 21/25
855/855 [==============================] - 35s 41ms/step - loss: 0.9678 - val_loss: 0.9386
Epoch 22/25
855/855 [==============================] - 36s 42ms/step - loss: 0.9637 - val_loss: 0.9525
Epoch 23/25
855/855 [==============================] - 36s 42ms/step - loss: 0.9543 - val_loss: 0.9253
Epoch 24/25
855/855 [==============================] - 35s 41ms/step - loss: 0.9391 - val_loss: 0.9124
Epoch 25/25
855/855 [==============================] - 35s 41ms/step - loss: 0.9408 - val_loss: 0.8959

In [132]:
# Evaluate the model on the test data
loss = regression_model.evaluate(X_test, y_test)
print("Test loss:", loss)

268/268 [==============================] - 2s 8ms/step - loss: 0.9173
Test loss: 0.9173117876052856